/* cabeçalho */
.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-links li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* Mantém a cor do texto branco */
}

/* estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Define a cor da sombra para o dark-theme */
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* Mantém a cor do texto branco */
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Define a cor da borda para o dark-theme */
  border-radius: 5px;
  color: #fff; /* Mantém a cor do texto branco */
}

button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #005b8f;
}

/* mensagem ao cadastrar */
.statusError {
  color: red;
}

.statusSuccess {
  color: blue;
}
