#messageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

form {
    background-color: #212529; /* Cor de fundo escura para o formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#paymentForm label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff; /* Cor do texto dos rótulos no formulário */
}

#paymentForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#paymentForm button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#paymentForm button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse sobre o botão */
}