/* Adicione seus estilos específicos aqui */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 20px;
}

h1 {
  color: #343a40;
}

table {
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#edit-aeronave {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

#edit-aeronave input,
#edit-aeronave button {
  margin: 5px;
  padding: 10px;
}

#edit-aeronave button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

#edit-aeronave button:hover {
  background-color: #0056b3;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.button:hover {
  background-color: #0056b3;
}
.edit-aeronave {
  display: inline-block;
 }