.fil{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.mapa-assentos{
    background-image: url("../images/FundoAviao.png");
}

.seat, th{
    width: 30px;
    /* Definição de largura fixa para acompanhar os assentos */
    height: 30px;
    /* Definição de altura fixa para acompanhar os assentos */
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat {
    background-image: url('../images/assento.png');
    background-size: cover;
}

.selected {
    background-image: url('../images/assentoSelecionado.png');
}

/* Adicione espaçamento entre todas as colunas */
.fil> :nth-child(3),
.fil> :nth-child(6),
.fil> :nth-child(9) {
    margin-right: 30px;
}

.mapa-assentos-container {
    display: flex;
    flex-wrap: wrap;
}

.price {
    width: 310px; /* Define a largura para a seção de preço */
    margin-top: 20px;
}

.payment-buttons {
    width: 310px; /* Define a largura para a seção de botões de pagamento */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}